/* full body */
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0 auto;
  width: 100%;
  background-color: #e2e0f6;
  
    
}

/* Nav styles */
.nav-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #3213e2;
}
.nav-btn {
  color: #ffffff;
  background-color: #3213e2;
  font-weight: bold;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 10px;
}
.nav-btn:hover {
  background-color: #0ecb7f;
  color: #ffffff;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin: 0 200px;
  
}
.banner-content {
  font-size: 1.7em;
  font-weight: bold;
  color: #000000;

  margin-bottom: 1rem;
}
.banner-btn {
  color: #ffffff;
  background-color: #3213e2;
  font-weight: bold;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 10px;
}
.banner{
    align-items: center;
    text-align: center;
    margin: 150px 300px 155px 300px;
}
.front{
    background-image: url(../Assets/Hero-bg.png);
    width: auto;
    height: 698px;
    gap: 20px;
}
/* action styles */
.action{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 150px 200px 155px 200px;
}
.action-button{
  color: #ffffff;
  background-color: #3213e2;
  font-weight: bold;
  text-decoration: none;
  border-radius: 10px;
}
.action-title{
    font-size: 1.5rem;
    font-weight: bold;
    color: #000000;
}
.action-note{
    color: #252432;
}
.action-image{
    border-radius: 10px;
}
.action-container{
    text-align: left;
    justify-content: left;
    gap: 15px;
    padding: 0.5rem 1rem;
}
/* user styles */
.user-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 200px 50px 200px;
  padding-bottom: 50px;
}
.user-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #000000;
  text-align: center;
  padding-top: 40px;
}
.user-amount{
    font-size: 2.5em;
    color: #3213e2;
    font-weight: bold;
}
.user-note {
  color: #9c99c8;
  font-size: small;
}
.user{
    background-color: #cac6f4;
    margin: 50px 250px ;
    border-radius: 15px;
    height: 250px;
    
}
/* touch Styles */
.touch {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 150px 250px 50px 250px;
}
form{
    justify-items: left;
    text-align: left;
    margin: 0 auto;

}
.touch-btn{
    color: #ffffff;
  background-color: #3213e2;
  font-weight: normal;
  text-decoration: none;
  border-radius: 5px;
}
.touch-title {
  font-size: 3em;
  font-weight: bold;
  color: #000000;
    text-align: center;
    margin: 20px 0;

}
label{
    font-size: 8px;
    font-weight: bold;
    
}
input{
    border: 1px solid blue;
    border-radius: 4px;
    size: 70px;
}
textarea{
    border: 1px solid blue;
    border-radius: 4px;
}
.touch-container{
   padding-right: 25px;
}